<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.app.mapper.AnswerMapper">

    <insert id="save">
        insert into answer(uid,content,ctime,qid)
        value (#{uid},#{content},now(),#{qid})
    </insert>

    <select id="splictlist" resultType="answer">
        SELECT * FROM answer a LEFT JOIN question q
        ON a.qid=q.qid
        left join users u on a.uid=u.uid
        <where>
            <if test="name!=null and name!=''">
                a.ctime like '%${name}%'
            </if>
            and a.del=0
        </where>
        limit #{page},#{size}
    </select>

    <select id="countbyuid" resultType="java.lang.Integer">
        SELECT count(a.aid) FROM answer a LEFT JOIN question q
        ON a.qid=q.qid
        left join users u on q.uid=u.uid
        <where>
            <if test="clounName!=null and clounName!=''">
                a.ctime like '%${clounName}%'
            </if>
        </where>
    </select>

    <update id="removebyid">
        update  answer set del=1
        where aid=#{id}
    </update>

    <select id="findbyid" resultType="answer">
        select * from answer where aid=#{id}
    </select>


</mapper>