<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.app.mapper.CommentMapper">

    <select id="countlist" resultType="java.lang.Integer">
        select count(*)
        from comment c left join answer a
        on c.aid=a.aid left join users u on  c.uid=u.uid
        <where>
            <if test="name!=null and name!=''">
                c.ctime like '%${name}%'
            </if>
            and c.del=0
        </where>
    </select>


    <select id="splictlist" resultType="comment">
        select *,a.content as reply
        from comment c left join answer a
        on c.aid=a.aid left join users u on  c.uid=u.uid
        <where>
            <if test="name!=null and name!=''">
                c.ctime like '%${name}%'
            </if>
            and c.del=0
        </where>
        limit #{page},#{size}
    </select>

    <insert id="save">
        insert into comment(uid,content,ctime,aid)
        value (#{uid},#{content},now(),#{aid})
    </insert>

    <update id="removebyid">
        update comment set del=1,mtime=now()
        where cid=#{id}
    </update>
</mapper>