<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.app.mapper.LogsMapper">

    <insert id="save">
        insert into logs(opertime, opername, ip, methods, ddesc)
        value (now(),#{opername},#{ip},#{methods},#{ddesc})
    </insert>


    <select id="countlist" resultType="java.lang.Integer">
        select count(operid) from logs
        <where>
            <if test="name!=null and name!=''">
                opername like '%${name}%'
            </if>
        </where>
    </select>


    <select id="splictlist" resultType="logs">
        select * from logs
        <where>
            <if test="name!=null and name!=''">
                opername like '%${name}%'
            </if>
        </where>
        ORDER BY opertime DESC
        limit #{page},#{size}
    </select>



</mapper>