<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.app.mapper.UsersMapper">

    <resultMap id="userMapper" type="users">
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="sex" column="sex"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="remark" column="remark"/>
        <result property="avatar" column="avatar"/>
        <result property="ctime" column="ctime"/>
        <result property="mtime" column="mtime"/>
        <result property="stat" column="stat"/>
        <collection property="list" ofType="roles">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <result property="rdesc" column="rdesc"/>
        </collection>
        <collection property="pList" ofType="com.rk.app.bean.Permissions">
            <id property="pid" column="pid"/>
            <result property="pname" column="pname"/>
            <result property="pdesc" column="pdesc"/>
        </collection>
    </resultMap>


<!--    登录-->
    <select id="login" resultMap="userMapper">
        SELECT *
        FROM users u
                 LEFT JOIN tb_user_role ur ON u.uid = ur.uid
                 LEFT JOIN roles r ON ur.rid = r.rid
                 LEFT JOIN tb_role_per rp ON r.rid = rp.rid
                 LEFT JOIN permissions p ON p.pid = rp.pid
        WHERE u.uname = #{username}
          and u.del = 0
          and u.stat = 0
    </select>


<!--查询总记录数-->
    <select id="countlist" resultType="java.lang.Integer">
        select count(*) from users
        <where>
            <if test="uname!=null and uname!=''">
                uname = #{uname}
            </if>
            and del=0
        </where>
    </select>

<!--查询当前页用户数据-->
    <select id="splictlist" resultType="users">
        select * from users
        <where>
            <if test="uname!=null and uname!=''">
                uname = #{uname}
            </if>
            and del=0
        </where>
        limit #{page},#{size}
    </select>

    <select id="getUserByid" resultMap="userMapper">
        SELECT *
        FROM users u
                 LEFT JOIN tb_user_role ur ON u.uid = ur.uid
                 LEFT JOIN roles r ON ur.rid = r.rid
        WHERE u.uid = #{uid}
          and u.del = 0
    </select>

    <!--    保存用户-->
    <insert id="save">
        insert into
            users(uname, nickname, password, sex,avatar, remark, ctime)
            value(#{uname},#{nickname},#{password},#{sex},#{avatar},#{remark},now())
    </insert>

    <!--修改用户-->
    <update id="update">
        update users
        set uname=#{uname},
        nickname=#{nickname},
        sex=#{sex},
        password=#{password},
        mtime=now(),
        remark=#{remark}
        <if test="avatar!=null and avatar!=''">
            ,avatar=#{avatar}
        </if>
        where uid=#{uid}
    </update>

    <!-- 删除用户-->
    <update id="remove">
        update users set del=1 where uid in
        <foreach item="uid" index="index" collection="list"
                 open="(" separator="," close=")">
            #{uid}
        </foreach>
    </update>

</mapper>
